.main {
  min-height: 100vh;
}
.loading,
.emptyLink {
  text-align: center;
}
.form {
  padding: 1.5rem;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .form {
    width: 50%;
    margin-inline: auto;
    margin-block: 2rem;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .form:has(input[aria-invalid="true"]) {
    align-items: center;
  }
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .inputContainer {
    flex-basis: 100%;
  }
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.label {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
}
.input {
  padding-block: 0.6rem;
  padding-inline: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto Mono", monospace;
}
.input:focus {
  outline: none;
  border-color: #0070f3;
}
.input[aria-invalid="true"] {
  border-color: #f00;
}
.error {
  color: #f00;
  font-size: 0.8rem;
  margin: 0;
}
.btn {
  padding-block: 0.6rem;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .btn {
    padding-block: 0.5rem;
    flex-basis: 30%;
  }
}
@media (prefers-color-scheme: dark) {
  .input {
    background-color: #000;
  }
  .btn {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
  }
  .btn:hover {
    opacity: 0.9;
  }
}
.linksContainer {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .linksContainer {
    place-items: center;
  }
  .title {
    font-size: 1.2rem;
  }
}
