.links {
  font-size: 0.9rem;
}
.link {
  color: #0070f3;
  line-height: 2;
  transition: color 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.link:hover {
  color: #000;
}
@media screen and (min-width: 768px) {
  .link {
    max-width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  .link:hover {
    color: #fff;
  }
}
